# Data Science Tools and Ecosystem

## Author
Mathias Getaneh

Objectives:
- List popular languages for Data Science
- List commonly used libraries for Data Science
- List common open-source Data Science Tools
- Show examples of arithmetic equations in Python

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. C++
4. Java
5. Javascript

Some of the commonly used libraries used by Data Scientists include:
1. ggplot2
2. Pandas
3. Matplotlib

| Data Science Tools |
| ------------------ |
| RStudio |
| Spyder |
| Apache Spark |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [36]:
#This is a simple arithmetic expression to multiply then add integers.
(3*4)+5

17

In [37]:
#This will convert 200 minutes to hours by dividing by 60.
minutes = 200
hours = 200/60
hours

3.3333333333333335